.mainSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mainInfo {
  padding: 0 20px;
  border: 1px solid rgb(227, 227, 227);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px 0px;
}

.poster {
  width: 300px;
  margin: 0 auto;
  border-radius: 4px;
}

.addList {
  padding-left: 30px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px 0px;
}

.link {
  text-decoration: none;
  font-size: 1.2rem;
}

.active {
  color: #deb887;
}

@media screen and (min-width: 768px) {
  .mainSection {
    display: flex;
    flex-direction: row;
    gap: unset;
  }

  .poster {
    margin: 0 20px 0 0;
  }
}
