.header {
  background-color: rgb(3, 37, 65);
  color: #fff;
  display: flex;
  padding: 10px;
  font-size: 1rem;
}

.logo {
  margin-right: 20px;
}

.logoText {
  display: none;
}

.list {
  display: flex;
  list-style-type: none;
}

.link {
  font-size: 1.5rem;
  color: #fff;
  margin-right: 40px;
}

.active {
  color: burlywood;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 20px;
    font-size: 1.5rem;
  }

  .logo {
    margin-right: 50px;
  }
}
