.header {
  background-color: rgb(3, 37, 65);
  color: #fff;
  display: flex;
  padding: 20px;
  font-size: 1.5rem;
}

.logo {
  margin-right: 50px;
}

.list {
  display: flex;
  list-style-type: none;
}

.link {
  font-size: 1.5rem;
  color: #fff;
  margin-right: 40px;
}

.active {
  color: burlywood;
}
